.user-new-button{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  border-width: 2px;
  cursor: pointer;
  box-shadow: 0 0 0 2px var(--light-bg);
  animation: userNewButtonShowAnimation 3s;
}

@keyframes userNewButtonShowAnimation {
  0% {
    transform: translateY(200px);
  }
  20% {
    transform: translateY(200px);
  }
  40% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0);
    border-color: var(--light-border);
  }
  70% {
    transform: scale(1.1);
    border-color: var(--oranger-border);
  }
  80% {
    transform: scale(1);
  }
}
